.wrapper {
    margin: auto;
    width: 50%;
}

.controlls {
    
}

.controlls-delays input{
    width: 200px;
}

.controlls button{
    display: block;
}

.controlls-input {
    display: flex;
}

.controlls-delays {
    display: flex;
    flex-direction: column;
}